# Generate python
*.pyc
*.pyo

# Generate virtualenv
bin
include
lib
lib64
share
man
src

# Generate pyenv
.python-version

# Generate [make profile]
.ipython
profile/pid
profile/security
profile/db
profile/log
profile/history.sqlite
profile/setup

# Generate [make notebook_root]
notebook_root

