[submodule "notebook_root/scientific-python-lectures"]
	path = notebook_root/scientific-python-lectures
	url = git@github.com:jrjohansson/scientific-python-lectures.git
[submodule "notebook_root/LearnDataScience"]
	path = notebook_root/LearnDataScience
	url = https://github.com/rossant/LearnDataScience.git
