# Generate python
*.pyc
*.pyo

# Generate virtualenv
bin
include
lib
lib64
share
man
src
env

# Generate pyenv
.python-version

# Generate [make profile]
.ipython/extensions
.ipython/nbextensions
.ipython/profile_default/pid
.ipython/profile_default/security
.ipython/profile_default/db
.ipython/profile_default/log
.ipython/profile_default/history.sqlite

# Generate [make notebook_root]
notebook_root

