[submodule "notebook_root/scientific-python-lectures"]
	path = notebook_root/scientific-python-lectures
	url = git@github.com:jrjohansson/scientific-python-lectures.git
[submodule "notebook_root/LearnDataScience"]
	path = notebook_root/LearnDataScience
	url = https://github.com/rossant/LearnDataScience.git
[submodule "notebook_root/ipython-bootcamp"]
	path = notebook_root/ipython-bootcamp
	url = git@github.com:MITSloanDataAnalytics/ipython-bootcamp.git
[submodule "extensions/RISE"]
	path = extensions/RISE
	url = git@github.com:damianavila/RISE.git
