arrow
Bottleneck
cmake
cython
dask
dask[dataframe]
ipykernel
jupyter
jupyter_contrib_nbextensions
kaggle
matplotlib
numexpr
numpy
pandas
pandas-gbq
pandoc
pyarrow
seaborn
scikit-learn
scipy
statsmodels
requests
tqdm
xlwt
