arrow
Bottleneck
cmake
cython
dask
dask[dataframe]
google-cloud-bigquery
ipykernel
japanize-matplotlib
jupyter
jupyter_contrib_nbextensions
kaggle
lightgbm
matplotlib
numexpr
numpy
pandas
pandoc
pyarrow
seaborn
scikit-learn
scipy
sympy
swifter
control
statsmodels
requests
tqdm
xlwt
pystan
arviz
